.slideshow-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slides {
  position: relative;
  height: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.showing-fade {
  opacity: 1;
  z-index: 2;
  animation-duration: 1s;
  animation-name: slide-fade;
}

@keyframes slide-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.showing-right {
  opacity: 1;
  animation-duration: 1s;
  animation-name: slide-right;
}

@keyframes slide-right {
  from {
    left: -50%;
  }

  to {
    left: 0;
  }
}

.showing-left {
  opacity: 1;
  animation-duration: 1s;
  animation-name: slide-left;
}

@keyframes slide-left {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.showing-top {
  opacity: 1;
  animation-duration: 1s;
  animation-name: slide-top;
}

@keyframes slide-top {
  from {
    top: 100%;
  }

  to {
    top: 0;
  }
}

.showing-bottom {
  opacity: 1;
  animation-duration: 1s;
  animation-name: slide-bottom;
}

@keyframes slide-bottom {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

.showing-bounce-left {
  opacity: 1;
  animation-duration: 1s;
  animation-name: slide-bounce-left;
}

@keyframes slide-bounce-left {
  0% {
    left: 100%;
  }
  50% {
    left: -20%;
  }
  100% {
    left: 0;
  }
}

.showing-bounce-right {
  opacity: 1;
  animation-duration: 1s;
  animation-name: slide-bounce-right;
}

@keyframes slide-bounce-right {
  0% {
    left: -100%;
  }
  50% {
    left: 20%;
  }
  100% {
    left: 0;
  }
}

.show-index.is-text {
  color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 50%;
  font-size: 28px;
  font-family: 'Slabo 27px', serif;
}

.show-index.is-dot {
  color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 50%;
  font-size: 28px;
  font-family: 'Slabo 27px', serif;
  display: flex;
}

.show-index.is-dot .dot {
  width: 10px;
  height: 10px;
  margin: 0 3px 3rem 3px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
}

.show-index.is-dot .dot.is-active {
  opacity: 1;
}

.slideshow-container button:focus {
  outline: none;
}

.btn-arrow {
  color: transparent;
  display: block;
  font-size: 5px;
  line-height: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  z-index: 10000;
}

.btn-arrow:hover,
.btn-arrow:focus {
  background: rgba(256, 256, 256, 0.1);
}

.btn-arrow:hover::before,
.btn-arrow:hover::after,
.btn-arrow:focus::before,
.btn-arrow:focus::after {
  background: rgba(256, 256, 256, 0.5);
}

.btn-arrow::before {
  content: '';
  display: block;
  background: rgba(256, 256, 256, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 6em;
  height: 2em;
}

.btn-arrow::after {
  content: '';
  display: block;
  background: rgba(256, 256, 256, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 6em;
}
.btn-arrow.btn-arrow-left {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 5%;
}
.btn-arrow.btn-arrow-left::before,
.btn-arrow.btn-arrow-left::after {
  top: 18px;
  left: 18px;
}
.btn-arrow.btn-arrow-right {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 5%;
}
.btn-arrow.btn-arrow-right::before,
.btn-arrow.btn-arrow-right::after {
  top: 18px;
  left: 18px;
}
